@media print {
	
	@page {
		margin:0.5in;
		@bottom-center {
			content: "ASIAN, Inc.";
		}
		@bottom-right {
			content: "Page " counter(page) " of " counter(pages);
		}
	}

	/* https://designshack.net/articles/css/6-thinks-i-learned-about-print-stylesheets-from-html5-boilerplate/ */
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { text-decoration: underline; }
/*	a[href]:after { content: " (" attr(href) ")"; } */
	img a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	p, h2, h3 { orphans: 3; widows: 3; } /* no less than three lines can be orphaned or widowed on a page */

	h1, h2, h3, h4, h5 {
		page-break-after:avoid;
		page-break-inside:avoid;
		padding:5px;
	}

	.site, #page, .main-area, .site-footer {
		width:100%;
		margin:0;
		padding:0;
		float:none;
	}

	header#masthead {
		margin:2% 5%;
	}

	/* .sg-site-header-1 (without *) does not work because style.css is loaded after print.css */
	.sg-site-header-1 * {
		background-color:white !important;
	}
	
	.logo-block .logo {
		padding:5px 0;
	}

	.site-title,
	.site-title > h1,
	.site-title > h1 > a:link,
	.site-title > h1 > a:visited {
		font-size:16pt;
		color:black !important;
		text-decoration:none;
	}
	
	html, body, div, span {
		font-size:10pt;
	}
	h1 { font-size:14pt; }
	h2 { font-size:13pt; }
	h3 { font-size:12pt; }
	h4 { font-size:11pt; }
	h5 { font-size:10pt; }
	h6 { font-size:10pt; }
	p, table {
		font-size:10pt;
		margin-bottom:10px;
		padding-left:5px;
		padding-right:5px;
	}
	.TPACell {
		font-size:10pt;
	}
	
	ul {
		padding-left:5px;
		padding-right:5px;
	}
	li {
		font-size:10pt;
	}

	#CollapseOMaticSection { display:none; }
	
	.site-footer {
		margin:2% 5%;
		display:block;
	}
	.site-info {
		padding:0;
		text-align:left;
	}
	
	.site-info,
	.site-info a:link,
	.site-info a:visited {
		text-decoration:none;
	}
	.site-info a:after {
		content:" (" attr(href) ") ";
	}
	.scrollup {
		display:none !important;
	}

	/**************************************/

	/* Pre-Application Submission Confirmation Page */

	@page {
		size:A4 landscape;
	}
	
	.main-area {
		width:auto;
		border:0;
		margin:0 1%;
		padding:0;
		float:none !important;
	}
	
	.FormLinks {
		display:none;
	}
	
	.TPASubForm {
		padding:0;
	}
	
	table.th, table.td, figure, .FloatSectionCell {
		page-break-inside:avoid;
	}

	p.TPASubForm, p.TPASubForm.msg {
		font-size:10pt !important;
	}
	
	th.TPASubForm, td.TPASubForm {
		font-size:9.5pt !important;
	}
	
	#SubmissionDT {
		font-size:8pt !important;
	}
	
	/**************************************/
}